# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
src/service/logs
node_modules/
http-test-request/

# Папка с собранными файлами проекта
build/

# Моки
mocks.json


