footer.page-footer
  .page-footer__wrapper
    .page-footer__col
      a.page-footer__logo-academy(href='#' aria-label='Ссылка на сайт HTML-Академии')
        svg(width='132' height='46')
          use(xlink:href='img/sprite_auto.svg#logo-htmlac')
      p.page-footer__copyright &copy; 2019 &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &Acy;&kcy;&acy;&dcy;&iecy;&mcy;&icy;&icy;
    .page-footer__col
      a.page-footer__logo.logo(href='#')
        img(src='img/logo.svg' width='179' height='35' alt='Логотип Куплю Продам')
    .page-footer__col
      ul.page-footer__nav
        li
          a(href='sign-up.html') &Vcy;&khcy;&ocy;&dcy; &icy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
        li
          a(href='new-ticket.html') &Scy;&ocy;&zcy;&dcy;&acy;&tcy;&softcy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy;