extends layout.pug

block prepend head
  base(href="/")

block prepend header
  -var isLogged = true 

block content
  main.page-content
    section.categories-list
      h1.visually-hidden &Scy;&iecy;&rcy;&vcy;&icy;&scy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&jcy; &quot;&Kcy;&ucy;&pcy;&lcy;&yucy; - &pcy;&rcy;&ocy;&dcy;&acy;&mcy;&quot;
      ul.categories-list__wrapper
        li.categories-list__item
          a.category-tile(href='#')
            span.category-tile__image
              img(src='img/cat.jpg' srcset='img/cat@2x.jpg 2x' alt='Иконка категории')
            span.category-tile__label
              | &Dcy;&ocy;&mcy; 
              span.category-tile__qty.js-qty 81
        li.categories-list__item
          a.category-tile.category-tile--active(href='#')
            span.category-tile__image
              img(src='img/cat02.jpg' srcset='img/cat02@2x.jpg 2x' alt='Иконка категории')
            span.category-tile__label
              | &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy; 
              span.category-tile__qty.js-qty 62
        li.categories-list__item
          a.category-tile(href='#')
            span.category-tile__image
              img(src='img/cat03.jpg' srcset='img/cat03@2x.jpg 2x' alt='Иконка категории')
            span.category-tile__label
              | &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy; 
              span.category-tile__qty.js-qty 106
        li.categories-list__item
          a.category-tile(href='#')
            span.category-tile__image
              img(src='img/cat04.jpg' srcset='img/cat04@2x.jpg 2x' alt='Иконка категории')
            span.category-tile__label
              | &Scy;&pcy;&ocy;&rcy;&tcy;/&ocy;&tcy;&dcy;&ycy;&khcy; 
              span.category-tile__qty.js-qty 86
        li.categories-list__item
          a.category-tile(href='#')
            span.category-tile__image
              img(src='img/cat05.jpg' srcset='img/cat05@2x.jpg 2x' alt='Иконка категории')
            span.category-tile__label
              | &Acy;&vcy;&tcy;&ocy; 
              span.category-tile__qty.js-qty 34
        li.categories-list__item
          a.category-tile(href='#')
            span.category-tile__image
              img(src='img/cat06.jpg' srcset='img/cat06@2x.jpg 2x' alt='Иконка категории')
            span.category-tile__label
              | &Kcy;&ncy;&icy;&gcy;&icy; 
              span.category-tile__qty.js-qty 92
    section.tickets-list
      h2.visually-hidden &Pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; &icy;&zcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy;
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
            | &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy; 
            b.js-qty 62
        ul
          li.tickets-list__item
            .ticket-card.ticket-card--color06
              .ticket-card__img
                img(src='img/item06.jpg' srcset='img/item06@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') Ableton
                  p.ticket-card__price
                    span.js-sum 88 000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Pcy;&rcy;&ocy;&dcy;&acy;&mcy; &scy;&vcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&icy;&dcy;&iecy;&tcy;&softcy; &icy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; &kcy;&ncy;&icy;&gcy;&icy; &zcy;&icy;&mcy;&ncy;&icy;&mcy;&icy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color08
              .ticket-card__img
                img(src='img/item08.jpg' srcset='img/item08@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Kcy;&ucy;&pcy;&lcy;&yucy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') &Fcy;&ocy;&tcy;&icy;&kcy; Canon
                  p.ticket-card__price
                    span.js-sum 32 000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Kcy;&ucy;&pcy;&lcy;&yucy; &vcy;&ocy;&tcy; &tcy;&acy;&kcy;&ucy;&yucy; &icy;&tcy;&acy;&lcy;&softcy;&yacy;&ncy;&scy;&kcy;&ucy;&yucy; &kcy;&ocy;&fcy;&iecy;&vcy;&acy;&rcy;&kcy;&ucy;, &mcy;&ocy;&zhcy;&ncy;&ocy; &lcy;&yucy;&bcy;&ocy;&jcy; &fcy;&icy;&rcy;&mcy;&ycy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color15
              .ticket-card__img
                img(src='img/item15.jpg' srcset='img/item15@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
                .ticket-card__categories
                  a(href='#') &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') &Kcy;&ocy;&fcy;&iecy;&mcy;&acy;&shcy;&icy;&ncy;&acy;
                  p.ticket-card__price
                    span.js-sum 26 000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Pcy;&rcy;&ocy;&dcy;&acy;&mcy; &scy;&vcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&icy;&dcy;&iecy;&tcy;&softcy; &icy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; &kcy;&ncy;&icy;&gcy;&icy; &zcy;&icy;&mcy;&ncy;&icy;&mcy;&icy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color12
              .ticket-card__img
                img(src='img/item12.jpg' srcset='img/item12@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Kcy;&ucy;&pcy;&lcy;&yucy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') &Rcy;&acy;&dcy;&icy;&ocy; &Pcy;&acy;&ncy;&acy;&scy;&ocy;&ncy;&icy;&kcy;
                  p.ticket-card__price
                    span.js-sum 32 000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Kcy;&ucy;&pcy;&lcy;&yucy; &vcy;&ocy;&tcy; &tcy;&acy;&kcy;&ucy;&yucy; &icy;&tcy;&acy;&lcy;&softcy;&yacy;&ncy;&scy;&kcy;&ucy;&yucy; &kcy;&ocy;&fcy;&iecy;&vcy;&acy;&rcy;&kcy;&ucy;, &mcy;&ocy;&zhcy;&ncy;&ocy; &lcy;&yucy;&bcy;&ocy;&jcy; &fcy;&icy;&rcy;&mcy;&ycy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color13
              .ticket-card__img
                img(src='img/item13.jpg' srcset='img/item13@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') &SHcy;&tcy;&acy;&tcy;&icy;&vcy; Sony
                  p.ticket-card__price
                    span.js-sum 8 000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Pcy;&rcy;&ocy;&dcy;&acy;&mcy; &scy;&vcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&icy;&dcy;&iecy;&tcy;&softcy; &icy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; &kcy;&ncy;&icy;&gcy;&icy; &zcy;&icy;&mcy;&ncy;&icy;&mcy;&icy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color14
              .ticket-card__img
                img(src='img/item14.jpg' srcset='img/item14@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Kcy;&ucy;&pcy;&lcy;&yucy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') &Dcy;&rcy;&ocy;&ncy; &scy; &kcy;&acy;&mcy;&iecy;&rcy;&ocy;&jcy;
                  p.ticket-card__price
                    span.js-sum 32000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Kcy;&ucy;&pcy;&lcy;&yucy; &vcy;&ocy;&tcy; &tcy;&acy;&kcy;&ucy;&yucy; &icy;&tcy;&acy;&lcy;&softcy;&yacy;&ncy;&scy;&kcy;&ucy;&yucy; &kcy;&ocy;&fcy;&iecy;&vcy;&acy;&rcy;&kcy;&ucy;, &mcy;&ocy;&zhcy;&ncy;&ocy; &lcy;&yucy;&bcy;&ocy;&jcy; &fcy;&icy;&rcy;&mcy;&ycy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color10
              .ticket-card__img
                img(src='img/item10.jpg' srcset='img/item10@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') &Mcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;
                  p.ticket-card__price
                    span.js-sum 4000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Pcy;&rcy;&ocy;&dcy;&acy;&mcy; &scy;&vcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&icy;&dcy;&iecy;&tcy;&softcy; &icy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; &kcy;&ncy;&icy;&gcy;&icy; &zcy;&icy;&mcy;&ncy;&icy;&mcy;&icy;...
          li.tickets-list__item
            .ticket-card.ticket-card--color06
              .ticket-card__img
                img(src='img/item06.jpg' srcset='img/item06@2x.jpg 2x' alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
                .ticket-card__categories
                  a(href='#') &Ecy;&Lcy;&IEcy;&Kcy;&Tcy;&Rcy;&Ocy;&Ncy;&Icy;&Kcy;&Acy;
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') Ableton
                  p.ticket-card__price
                    span.js-sum 88 000
                    |  &#x20BD;
                .ticket-card__desc
                  p &Pcy;&rcy;&ocy;&dcy;&acy;&mcy; &scy;&vcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&icy;&dcy;&iecy;&tcy;&softcy; &icy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; &kcy;&ncy;&icy;&gcy;&icy; &zcy;&icy;&mcy;&ncy;&icy;&mcy;&icy;...
        .tickets-list__pagination
          ul.pagination
            li
              a.active(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') &dcy;&acy;&lcy;&softcy;&shcy;&iecy;
