extends layout.pug

block prepend head
  base(href="/")

block prepend header
  -var isLogged = true
  -var activeItem = `comments`

block content
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&iecy;&vcy;
        .comments__block
          .comments__header
            a.announce-card(href='#')
              h2.announce-card__title &Lcy;&iecy;&ncy;&dcy; &Rcy;&ocy;&vcy;&iecy;&rcy;
              span.announce-card__info
                span.announce-card__price &#x20BD; 900 000
                span.announce-card__type &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
          ul.comments-list
            li.js-card
              .comment-card
                .comment-card__header
                  a.comment-card__avatar.avatar(href='#')
                    img(src='img/avatar03.jpg' srcset='img/avatar03@2x.jpg 2x' alt='Аватар пользователя')
                  p.comment-card__author &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Bcy;&ucy;&rcy;&ycy;&jcy;
                .comment-card__content
                  p
                    | &Acy; &chcy;&tcy;&ocy; &scy; &pcy;&rcy;&ocy;&gcy;&ocy;&ncy;&ocy;&mcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;? &Tcy;&acy;&kcy;&zhcy;&iecy; &vcy;&icy;&zhcy;&ucy; &ncy;&acy; &fcy;&ocy;&tcy;&ocy; &zcy;&icy;&mcy;&ncy;&yucy;&yucy; &rcy;&iecy;&zcy;&icy;&ncy;&ucy;. &Acy; &lcy;&iecy;&tcy;&ncy;&yacy;&yacy; &icy;&dcy;&iecy;&tcy; &lcy;&icy; &vcy;&pcy;&rcy;&icy;&dcy;&acy;&chcy;&ucy;?
                button.comment-card__delete.js-delete(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
            li.js-card
              .comment-card
                .comment-card__header
                  a.comment-card__avatar.avatar(href='#')
                    img(src='img/avatar04.jpg' srcset='img/avatar04@2x.jpg 2x' alt='Аватар пользователя')
                  p.comment-card__author &Acy;&ncy;&acy;&tcy;&ocy;&lcy;&icy;&jcy; &KHcy;&acy;&kcy;&icy;&mcy;&ocy;&vcy;
                .comment-card__content
                  p &KHcy;&ocy;&chcy;&ucy; &pcy;&rcy;&icy;&jcy;&tcy;&icy; &pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &ncy;&acy; &acy;&vcy;&tcy;&ocy; &vcy; &scy;&rcy;&iecy;&dcy;&ucy;. &Mcy;&ocy;&jcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy; 89254455566. &Gcy;&ocy;&tcy;&ocy;&vcy;&ycy; &pcy;&rcy;&icy;&ncy;&yacy;&tcy;&softcy;?
                button.comment-card__delete.js-delete(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
            li.js-card
              .comment-card
                .comment-card__header
                  a.comment-card__avatar.avatar(href='#')
                    img(src='img/avatar02.jpg' srcset='img/avatar02@2x.jpg 2x' alt='Аватар пользователя')
                  p.comment-card__author &Gcy;&iecy;&ocy;&rcy;&gcy;&icy;&jcy; &SHcy;&pcy;&icy;&tscy;
                .comment-card__content
                  p &CHcy;&tcy;&ocy; &ecy;&tcy;&ocy; &zcy;&acy; &rcy;&ucy;&khcy;&lcy;&yacy;&dcy;&softcy;? &Scy;&tcy;&ycy;&dcy;&ncy;&ocy; &tcy;&acy;&kcy;&ocy;&iecy; &dcy;&acy;&zhcy;&iecy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;, &ncy;&iecy; &tcy;&ocy;, &chcy;&tcy;&ocy;&nbsp;&pcy;&rcy;&ocy;&dcy;&acy;&vcy;&acy;&tcy;&softcy;.
                button.comment-card__delete.js-delete(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
        .comments__block
          .comments__header
            a.announce-card(href='#')
              h2.announce-card__title Ableton
              span.announce-card__info
                span.announce-card__price &#x20BD; 900 000
                span.announce-card__type &Pcy;&Rcy;&Ocy;&Dcy;&Acy;&Mcy;
          ul.comments-list
            li.js-card
              .comment-card
                .comment-card__header
                  a.comment-card__avatar.avatar(href='#')
                    img(src='img/avatar03.jpg' srcset='img/avatar03@2x.jpg 2x' alt='Аватар пользователя')
                  p.comment-card__author &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Bcy;&ucy;&rcy;&ycy;&jcy;
                .comment-card__content
                  p
                    | &Acy; &chcy;&tcy;&ocy; &scy; &pcy;&rcy;&ocy;&gcy;&ocy;&ncy;&ocy;&mcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;? &Tcy;&acy;&kcy;&zhcy;&iecy; &vcy;&icy;&zhcy;&ucy; &ncy;&acy; &fcy;&ocy;&tcy;&ocy; &zcy;&icy;&mcy;&ncy;&yucy;&yucy; &rcy;&iecy;&zcy;&icy;&ncy;&ucy;. &Acy; &lcy;&iecy;&tcy;&ncy;&yacy;&yacy; &icy;&dcy;&iecy;&tcy; &lcy;&icy; &vcy;&pcy;&rcy;&icy;&dcy;&acy;&chcy;&ucy;?
                button.comment-card__delete.js-delete(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
            li.js-card
              .comment-card
                .comment-card__header
                  a.comment-card__avatar.avatar(href='#')
                    img(src='img/avatar04.jpg' srcset='img/avatar04@2x.jpg 2x' alt='Аватар пользователя')
                  p.comment-card__author &Acy;&ncy;&acy;&tcy;&ocy;&lcy;&icy;&jcy; &KHcy;&acy;&kcy;&icy;&mcy;&ocy;&vcy;
                .comment-card__content
                  p &KHcy;&ocy;&chcy;&ucy; &pcy;&rcy;&icy;&jcy;&tcy;&icy; &pcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &ncy;&acy; &acy;&vcy;&tcy;&ocy; &vcy; &scy;&rcy;&iecy;&dcy;&ucy;. &Mcy;&ocy;&jcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy; 89254455566. &Gcy;&ocy;&tcy;&ocy;&vcy;&ycy; &pcy;&rcy;&icy;&ncy;&yacy;&tcy;&softcy;?
                button.comment-card__delete.js-delete(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
            li.js-card
              .comment-card
                .comment-card__header
                  a.comment-card__avatar.avatar(href='#')
                    img(src='img/avatar02.jpg' srcset='img/avatar02@2x.jpg 2x' alt='Аватар пользователя')
                  p.comment-card__author &Gcy;&iecy;&ocy;&rcy;&gcy;&icy;&jcy; &SHcy;&pcy;&icy;&tscy;
                .comment-card__content
                  p &CHcy;&tcy;&ocy; &ecy;&tcy;&ocy; &zcy;&acy; &rcy;&ucy;&khcy;&lcy;&yacy;&dcy;&softcy;? &Scy;&tcy;&ycy;&dcy;&ncy;&ocy; &tcy;&acy;&kcy;&ocy;&iecy; &dcy;&acy;&zhcy;&iecy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;, &ncy;&iecy; &tcy;&ocy;, &chcy;&tcy;&ocy;&nbsp;&pcy;&rcy;&ocy;&dcy;&acy;&vcy;&acy;&tcy;&softcy;.
                button.comment-card__delete.js-delete(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
