extends layout.pug

block prepend head
  base(href="/")

block prepend header
  -var isLogged = true
  -var activeItem = `comments`

block content
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&iecy;&vcy;
        each offer in offers
          .comments__block
            .comments__header
              a.announce-card(href=`/offers/${offer.id}`)
                h2.announce-card__title #{offer.title}
                span.announce-card__info
                  span.announce-card__price &#x20BD; #{offer.sum}
                  span.announce-card__type #{offer.typeName}
            ul.comments-list
              each comment in offer.comments
                -var userHref = '#'
                -var userpic = 'avatar02.jpg'
                -var userpicX2 = 'avatar02@2x.jpg'
                -var userName = 'Георгий Шпиц'
                -var comment = comment.text
                -var id = comment.id
                li.js-card
                  include includes/comment.pug
