extends layout.pug

block prepend header
  -var isLogged = true
  -var activeItem = "tickets"

block content
  main.page-content
    -var ariaTitle = "Самые новые предложения"
    -var title = ""
    -var more = false
    -var newOfferButton = true
    -var tickets = offers
    -var cardType = 'MY_CARD'
    include includes/ticket-list.pug

