extends layout.pug

block prepend head
  base(href="/")

block prepend header
  -var isLogged = true 

block content
  main.page-content
    section.ticket-form
      .ticket-form__wrapper
        h1.ticket-form__title &Ncy;&ocy;&vcy;&acy;&yacy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&yacy;
        include includes/ticket-form.pug