extends layout.pug

block prepend header
  -var isLogged = false

block content
  main.page-content
    section.search-results
      h1.visually-hidden &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &pcy;&ocy;&icy;&scy;&kcy;&acy;
      .search-results__wrapper
        if searchResult.length
          p.search-results__label
            | &Ncy;&acy;&jcy;&dcy;&iecy;&ncy;&ocy; 
            span.js-results #{searchResult.length} &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy;
          ul.search-results__list
            each ticket in searchResult
              li.search-results__item
                -var cardType = "DEFAULT"
                include includes/ticket-card.pug
        else
          .search-results__message
            p
              | &Ncy;&iecy; &ncy;&acy;&jcy;&dcy;&iecy;&ncy;&ocy; 
              br
              | &ncy;&icy;&nbsp;&ocy;&dcy;&ncy;&ocy;&jcy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&icy;
    
    -var ariaTitle = "Самые новые предложения"
    -var title = "Самое свежее"
    -var more = true
    -var newOfferButton = false
    -var tickets = latestOffers
    -var cardType = 'DEFAULT'
    include includes/ticket-list.pug
