extends layout.pug

block prepend head
  base(href="/")

block prepend header
  -var isLogged = true

block content
  main.page-content
    section.ticket-form
      .ticket-form__wrapper
        h1.ticket-form__title &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&yucy;
        include includes/ticket-form.pug