extends layout.pug

block prepend head
  base(href="/")

block prepend header
  -var isLogged = true

block content
  main.page-content
    section.ticket-form
      .ticket-form__wrapper
        h1.ticket-form__title &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &pcy;&ucy;&bcy;&lcy;&icy;&kcy;&acy;&tscy;&icy;&yucy;
        .ticket-form__tile
          form.ticket-form__form.form(action='#' method='post' enctype='multipart/form-data' autocomplete='off')
            .ticket-form__avatar-container.js-preview-container.uploaded
              .ticket-form__avatar.js-preview
                img(src='img/item02.jpg' srcset='img/item02@2x.jpg 2x' alt='')
              .ticket-form__field-avatar
                input#avatar.visually-hidden.js-file-field(type='file' name='avatar')
                label(for='avatar')
                  span.ticket-form__text-upload &Zcy;&acy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy; &fcy;&ocy;&tcy;&ocy;&mldr;
                  span.ticket-form__text-another &Zcy;&acy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy; &dcy;&rcy;&ucy;&gcy;&ocy;&iecy; &fcy;&ocy;&tcy;&ocy;&mldr;
            .ticket-form__content
              .ticket-form__row
                .form__field
                  input#ticket-name.js-field(type='text' name='ticket-name' value='Мое старое кресло' required='')
                  label(for='ticket-name') &Ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;
                  span &Ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&iecy; &pcy;&ocy;&lcy;&iecy;
              .ticket-form__row
                .form__field
                  textarea#comment-field.js-field(name='comment' cols='30' rows='10' maxlength='400' minlength='50')
                    | &Pcy;&rcy;&ocy;&dcy;&acy;&mcy; &scy;&vcy;&ocy;&iecy; &scy;&tcy;&acy;&rcy;&ocy;&iecy; &kcy;&rcy;&iecy;&scy;&lcy;&ocy;, &chcy;&tcy;&ocy;&bcy;&ycy; &scy;&icy;&dcy;&iecy;&tcy;&softcy; &icy; &chcy;&icy;&tcy;&acy;&tcy;&softcy; &kcy;&ncy;&icy;&gcy;&icy; &zcy;&icy;&mcy;&ncy;&icy;&mcy;&icy; &vcy;&iecy;&chcy;&iecy;&rcy;&acy;&mcy;&icy;. &Ncy;&ocy;&zhcy;&kcy;&icy; &mcy;&yacy;&gcy;&kcy;&icy;&iecy;, &mcy;&ocy;&jcy; &pcy;&ocy;&lcy; &ncy;&iecy; &tscy;&acy;&rcy;&acy;&pcy;&acy;&yucy;&tcy;.
                  label(for='comment-field') &Ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
                  span &Ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&iecy; &pcy;&ocy;&lcy;&iecy;
              .ticket-form__row
                select#category-field.form__select.js-multiple-select(name='category' data-label='Выбрать категорию публикации' multiple='')
                  option(value='1' selected='') &Dcy;&ocy;&mcy;
                  option(value='2' selected='') &Scy;&pcy;&ocy;&rcy;&tcy; &icy; &ocy;&tcy;&dcy;&ycy;&khcy;
                  option(value='3') &Acy;&vcy;&tcy;&ocy;
                  option(value='4') &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy;
              .ticket-form__row
                .form__field.form__field--price
                  input#price-field.js-field.js-price(type='number' name='price' min='1' value='4000' required='')
                  label(for='price-field') &TScy;&iecy;&ncy;&acy;
                  span &Ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&iecy; &pcy;&ocy;&lcy;&iecy;
                .form__switch.switch
                  .switch__item
                    input#buy-field.visually-hidden(type='radio' name='action' value='buy' checked='')
                    label.switch__button(for='buy-field') &Kcy;&ucy;&pcy;&lcy;&yucy;
                  .switch__item
                    input#sell-field.visually-hidden(type='radio' name='action' value='sell')
                    label.switch__button(for='sell-field') &Pcy;&rcy;&ocy;&dcy;&acy;&mcy;
            button.form__button.btn.btn--medium.js-button(type='submit') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
